---
---

$max-width: 100rem

@import 'normalize'
@import 'colors'
@import 'fonts'

body
    background: $gray-bg-color
    display: flex
    min-height: 100vh
    flex-direction: column

a, a:visited, a:hover
    text-decoration: none

.button
    display: inline-block
    text-align: center
    letter-spacing: .1rem
    text-transform: uppercase
    text-decoration: none
    cursor: pointer
    box-sizing: border-box
    border-radius: 4px
    font-size: $h6-font-size
    font-weight: $bold-font-weight
    padding: 1rem 0
    width: 100%
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.32), 0 2px 10px 0 rgba(0, 0, 0, 0.24)
    color: white
    margin: 0

@media screen and (min-width: 414px) // iPhone 6 Plus
    .button
        padding: 2rem 0
        br
            display: none

@media screen and (min-width: 768px) // iPad
    .button
        width: auto
        padding: 2rem 3rem

ul
    list-style: none
    padding: 0
    margin: 0

li
    margin-bottom: 1rem

pre, blockquote, dl, figure, table, p, ul, ol, form
    margin-bottom: 2.5rem

p
    margin-top: 0

.button__arrow
    display: inline-block
    height: 1em
    width: 1em
    margin: -1px -0.5em 0 0
    background-image: url('../img/arrow/arrow-white.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    vertical-align: middle

@mixin button-color($color)
    background-color: $color
    border: 1px solid $color

section + section
    border-top: 1px solid #CCC

section p:last-child
    margin-bottom: 0

@import 'padding'
@import 'home'
@import 'subpage'
@import 'professionnel'
@import 'particulier'
@import 'formatrice'
@import 'footer'
@import 'print'
