---
---

$padding: 5vw

@import 'colors'
@import 'fonts'
@import 'home'
@import 'subpage'

body
    background: $background-color
    display: flex
    min-height: 100vh
    flex-direction: column

article
    flex: 1

a, a:visited, a:hover
    text-decoration: none

footer
    font-size: 1.2rem
    background: #F0F0F0
    padding: 2rem $padding
    a
        color: $default-text-color
