body {
  background: white; }

.home__top {
  height: auto !important;
  min-height: 0; }

.home__background {
  display: none; }

.home__title, .home__subtitle__container {
  color: #333; }

.home__subtitle {
  background: none;
  height: auto; }

.home__tagline {
  position: static;
  background: white; }

.module, .review__text {
  background: none !important;
  border: 1px solid #CCC;
  box-sizing: border-box; }

.button {
  background-color: white;
  border: 1px solid #CCC;
  color: #333; }
