---
layout: subpage
class: professionnel
---

<section>
  <h3>Modules principaux</h3>
  <p>Chaque module offre la possibilité de privilégier la communication orale plutôt qu'écrite.</p>

  <div class="module">
    <h5>Module niveau 1 · 28h / 990€ HT</h5>
    <ul>
      <li>Aucun prérequis</li>
      <li>Communiquez à propos de sujets familiers ou quotidiens</li>
      <li>400 mots, équivalent HSK 2</li>
      <li><li>Livre inclus</li></li>
    </ul>
  </div>

  <div class="module">
    <h5>Module niveau 2 · 32h / 1190€ HT</h5>
    <ul>
      <li>Prérequis : module niveau 1</li>
      <li>Soyez autonome lors de vos déplacements en Chine</li>
      <li>800 mots, équivalent HSK 3</li>
      <li>Livre inclus</li>
    </ul>
  </div>

  <div class="module">
    <h5>Module niveau 3 · 63h / 2290€ HT</h5>
    <ul>
      <li>Prérequis : module niveau 2</li>
      <li>Communiquez à propos de sujets professionnels</li>
      <li>1600 mots, équivalent HSK 4</li>
      <li>Livre inclus</li>
    </ul>
  </div>

  <div class="module">
    <h5>Module niveau 4 · 72h / 2590€ HT</h5>
    <ul>
      <li>Prérequis : module niveau 3</li>
      <li>Exprimez-vous couramment lors de votre travail en Chine ou avec vos clients chinois</li>
      <li>3200 mots, équivalent HSK 5</li>
      <li>Livre inclus</li>
    </ul>
  </div>
</section>

<section>
  <h3>Modules complémentaires</h3>

  <div class="module">
    <h5>Module spécial vin (unique sur Bordeaux) · 10h / 890€ HT</h5>
    <ul>
      <li>Prérequis : module niveau 2</li>
      <li>Maîtrisez la commercialisation du vin</li>
      <li>Supports inclus</li>
    </ul>
  </div>

  <div class="module">
    <h5>Module étiquette des affaires · 10h / 590€ HT</h5>
    <ul>
      <li>Prérequis : module niveau 2</li>
      <li>Évitez les impairs avec vos clients chinois</li>
      <li>Supports inclus</li>
    </ul>
  </div>
</section>

<section>
  {% include button--formatrice.html %}
</section>

<section>
  {% include contact.html %}
</section>
