<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__item navbar__item--home">
      <a class="navbar__link" href="/">Accueil</a>
    </li>
    <li class="navbar__item navbar__item--professionnel">
      <a class="navbar__link" href="/professionnel">
        Pro<span class="navbar__item--professionnel__extra">fessionnel</span>
      </a>
    </li>
    <li class="navbar__item navbar__item--particulier">
      <a class="navbar__link" href="/particulier">Particulier</a>
    </li>
    <li class="navbar__item navbar__item--formatrice">
      <a class="navbar__link" href="/formatrice">Formatrice</a>
    </li>
  </ul>
</nav>
