@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600)

$normal-font-weight: 300
$bold-font-weight: 600

body
    color: $default-text-color
    font-family: 'Open Sans', sans-serif
    font-weight: $normal-font-weight
    -webkit-font-smoothing: antialiased
    font-size: 2rem
