@import 'review.sass'

.formatrice__greeting
    text-align: center
    margin-bottom: 2.5rem

.formatrice__portrait__container
    line-height: 0

.formatrice__portrait
    border-radius: 100%

.formatrice__hello
    font-weight: $normal-font-weight !important
    margin-bottom: 0

.formatrice__hello--zh
    font-size: 6em
    color: $formatrice-color

.formatrice__hello--fr
    color: $gray-text-color

@media screen and (min-width: 700px)
    .formatrice__greeting
        display: table
        width: 100%
    .formatrice__portrait__container, .formatrice__hello__container
        display: table-cell
        vertical-align: middle
        width: 50%
    .formatrice__portrait__container
        text-align: right
        padding-right: 1rem
    .formatrice__hello__container
        padding-left: 1rem
        text-align: left
        > div
            display: inline-block
            text-align: center

.zh
    color: $gray-text-color
