.home__top
    height: 100vh
    position: relative
    background-repeat: no-repeat
    background-size: cover
    background-position: center center

.home__title
    text-align: center
    padding-top: 1rem

.home__top__credit
    position: absolute
    left: 1rem
    bottom: 1rem
    color: white
    opacity: 0.4
    font-size: 0.5em
    display: none

.home__top--1
    background-image: url('../img/home/bund.jpg')
    .home__title
        color: white

.home__top--2
    background-position: center 20%
    background-image: url('../img/home/great_wall.jpg')
    .home__top__credit--great-wall
        display: block

.home__tagline__container
    line-height: 0
    position: absolute
    bottom: 0
    left: 10%
    right: 10%
    text-align: center

.home__tagline
    line-height: 0
    display: inline-block
    padding: 1rem 2rem 0
    border-radius: 1rem 1rem 0 0
    color: black
    background: rgba(255, 255, 255, 0.8)
    h3
        margin: 0

.home__tagline__arrow
    display: inline-block
    height: 1.2em
    width: 0.6em
    background-image: url('../img/home/arrow.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: 0 center
    animation: bounce 0.8s linear infinite

@keyframes bounce
    0%, 100%
        transform: rotateZ(90deg) translateX(-0.3em)
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    50%
        transform: rotateZ(90deg) translateX(0.1em)
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)

.home__bottom
    padding: $padding
