.home__top
    height: 100vh
    min-height: 30rem
    position: relative
    background-image: url('../img/pudong/pudong_1121w.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    @media screen and (min-width: 1122px), screen and (min-width: 561px) and (min-resolution: 2dppx), screen and (min-width: 374px) and (min-resolution: 3dppx)
        background-image: url('../img/pudong/pudong_2242w.jpg')
    @media screen and (min-width: 2243px), screen and (min-width: 1122px) and (min-resolution: 2dppx), screen and (min-width: 748px) and (min-resolution: 3dppx)
        background-image: url('../img/pudong/pudong_4485w.jpg')

.home__title, .home__subtitle__container
    text-align: center
    color: white
    opacity: 1

.home__title
    font-size: 5rem
    padding-top: 1rem

.home__subtitle
    display: inline-block
    background-image: url('../img/calligraphy/calligraphy.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: center bottom
    height: 8rem

.home__subtitle, .home__tagline
    font-size: $h5-font-size

.home__tagline
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    text-align: center
    background: $gray-bg-color
    box-sizing: border-box
    font-weight: $bold-font-weight
    padding: 1rem 0

.home__bottom
    background: $white-bg-color

.home__bottom__content
    max-width: $max-width
    margin: 0 auto

.home__buttons
    text-align: center

.home__button--professionnel
    @include button-color($professionnel-color)

.home__button--particulier
    @include button-color($particulier-color)

.home__or
    margin: 0.5rem

@media screen and (min-width: 414px) // iPhone 6 Plus
    .home__title
        padding-top: 2rem
    .home__subtitle, .home__tagline
        font-size: $h4-font-size
    .home__subtitle
        height: 10.5rem
    .home__tagline
        padding: 2rem 0

@media screen and (min-width: 768px) // iPad
    .home__title
        padding-top: 4rem
    .home__button, .home__or
        vertical-align: middle
    .home__button
        min-width: 31rem
    .home__or
        display: inline-block
        margin: 0 1rem
