@mixin padding($vp, $hp)
    .footer__content
        padding-left: $hp
        padding-right: $hp

    .home__bottom
        padding: $vp $hp
        section + section
            margin-top: $vp

    .subpage__content
        padding: $vp $hp
        section + section
            margin-top: $vp
            padding-top: $vp

@include padding(2rem, 2rem)
