.particulier__situation, .particulier__pricing
    padding: 1rem
    background: lighten($particulier-color, 40%)
    margin-bottom: 2.5rem
    border-radius: 4px
    ul
        list-style: none
        margin-bottom: 0

.particulier__situation ul
    font-weight: $bold-font-weight
