.subpage__title
    text-align: center
    font-weight: $normal-font-weight

.navbar
    max-width: $max-width
    margin: 0 auto

.navbar__list
    list-style: none
    display: flex
    margin-bottom: 0

.navbar__item
    text-align: center
    flex-grow: 1
    cursor: pointer
    margin: 0
    border-bottom: 5px solid transparent
    transition: border-bottom-color 0.2s ease-out
    text-transform: uppercase
    font-size: $h7-font-size

.navbar__link
    display: block
    padding: 1rem 0
    font-weight: $bold-font-weight

@mixin navbar-item($page, $color)
    .navbar__item--#{$page}
        &:hover
            border-bottom-color: transparentize($color, 0.8)
        .navbar__link
            color: $color
        .#{$page} &
            border-bottom-color: $color
            .navbar__link
                cursor: default

@include navbar-item(home, $home-color)
@include navbar-item(professionnel, $professionnel-color)
@include navbar-item(particulier, $particulier-color)
@include navbar-item(formatrice, $formatrice-color)

.navbar__item--professionnel__extra
    display: none

.subpage__content__container
    background: $white-bg-color

.subpage__content
    max-width: $max-width
    margin: 0 auto

.button--formatrice
    @include button-color($formatrice-color)

.module
    padding: 1rem
    margin-bottom: 2.5rem
    border-radius: 4px
    h5
        margin-bottom: 1rem
    ul
        margin-bottom: 0

@media screen and (min-width: 414px) // iPhone 6 Plus
    .navbar__item
        font-size: $h6-font-size

@media screen and (min-width: 768px) // iPad
    .navbar__item
        width: 25%
    .navbar__item--professionnel__extra
        display: inline

