---
layout: subpage
class: particulier
title: Cours pour particuliers
---

<section>
  <h3>Je souhaite…</h3>

  <div class="module particulier__situation">
    <ul>
      <li>Que mon enfant débute des cours de chinois</li>
      <li>Préparer l'expatriation de ma famille</li>
      <li>Préparer un voyage en Chine</li>
      <li>Découvrir une nouvelle culture</li>
    </ul>
    <p>→ 30h pour maîtriser les fondamentaux de la langue chinoise</p>
  </div>

  <div class="module particulier__situation">
    <ul>
      <li>Apporter à mon enfant un soutien scolaire continu</li>
      <li>Enseigner à mon enfant sa langue ancestrale (familles d'origine chinoise)</li>
    </ul>
    <p>→ 1h/semaine tout au long de l'année scolaire</p>
  </div>

  <div class="module particulier__situation">
    <ul>
      <li>Améliorer mon niveau</li>
      <li>Préparer un examen : bac, HSK…</li>
    </ul>
    <p>→ Durée selon vos objectifs personnels</p>
  </div>
</section>

<section>
  <h3>Tarifs</h3>

  <p>La première heure de cours est <strong>gratuite et sans engagement</strong>.</p>

  <div class="module particulier__pricing">
    <h5>Cours particuliers</h5>
    <ul>
      <li>Adapté à vos intérêts</li>
      <li>Idéal pour soutien scolaire</li>
      <li>Passez vos examens brillamment !</li>
      <li>Heure par heure : 25 € par heure</li>
      <li>Pack de 20 heures : <strong>19,9 € par heure</strong></li>
    </ul>
  </div>

  <div class="module particulier__pricing">
    <h5>Cours en groupe</h5>
    <ul>
      <li>2-4 personnes</li>
      <li>Rencontrez et communiquez avec des personnes passionnées par la Chine et le chinois</li>
      <li>Heure par heure : 12 € par heure</li>
      <li>Pack de 20 heures : <strong>9,9 € par heure</strong></li>
    </ul>
  </div>


  <p>Livre non inclus 35€. Tous prix TTC.</p>
</section>

<section>
  {% include button--formatrice.html %}
</section>

<section>
  {% include contact.html %}
</section>
